@import url(http://fonts.googleapis.com/css?family=Codystar&subset=latin,latin-ext);

html, body { 
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	left: 3px;
	bottom: 3px;
	font-size: 70%;
	opacity: 0.5;
}

#info a {
	color: #fff;
}

#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 5vw;
	font-family: codystar;
	text-align: center;
	animation: colors 5s infinite;
	-webkit-animation: colors 5s infinite;
}

#jukebox {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px 0 0 0;
	padding: 5px;
	transform: translate(0, 100%) translate(0, -25px);
	transition: all 300ms;
}

#jukebox:hover {
	transform: none;
}

#jukebox:before {
	content: "Jukebox";
	display: block;
	height: 25px;
	text-transform: uppercase;
}

#jukebox label {
	margin: 0 10px;
}

#jukebox form {
	display: none;
	margin-top: 8px;
	font-size: 80%;
}

#jukebox [value=playlist]:checked ~ #playlist,
#jukebox [value=url]:checked ~ #url,
#jukebox [value=file]:checked ~ #file {
	display: block;
}

#jukebox :checked + label {
	font-weight: bold;
}

#jukebox [type=radio] {
	display: none;
}

#jukebox label {
	cursor: pointer;
}

@keyframes colors {
	0% { color: #fff; }
	15% { color: #ff3; }
	30% { color: #f66; }
	45% { color: #f3f; }
	60% { color: #66f; }
	75% { color: #3ff; }
	90% { color: #6f6; }
	100% { color: #fff; }
}

@-webkit-keyframes colors {
	0% { color: #fff; }
	15% { color: #ff3; }
	30% { color: #f66; }
	45% { color: #f3f; }
	60% { color: #66f; }
	75% { color: #3ff; }
	90% { color: #6f6; }
	100% { color: #fff; }
}
